body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: hsla(0, 10%, 95%, 0.74);
}
#logo{
  width: 100px;
}
ul li{
  font-size: larger;
  font-weight: 700;
}
#navBar{
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.123);
}

#navItem {
  color: hsl(0, 0%, 40%);
}
.btn {
  font-size: larger;
  font-weight: 700;
  padding: 20px, 20px;
}
.btn:hover{
  opacity: 0.9;
}
#button{
  font-size: x-large;

}
#button:hover{
  opacity: 0.9;
}
#hero{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../Images/bg3.webp);
  background-position: center;
  background-size: cover;
}
#services{
  max-width: 275px;
  max-height: 300px;
}
.cssCourse{
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 6px 12px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}.jsCourse{
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 6px 12px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.htmlCourse{
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 6px 12px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#join{
  text-decoration: none;
}
.imageAbout{
  max-width: 100%;
  border-radius: 20px;
}
#webpic{
  max-width: 100%;
  border-radius: 20px;
}